body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* HEADERS */

nav .brand-logo {
    font-family: 'Pacifico', cursive;
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}



.page-header {
    font-weight: bold;
    color: teal;
}

/* RECIPE INGREDIENTS & METHOD TEXT */
.details {
    font-family: 'Roboto', sans-serif;
}

.added-by {
    font-family: 'Roboto', sans-serif;
    color: rgb(155, 148, 148);
}

/* STYLING FOR RECIPE CARDS */

.recipecard-title {
    font-size: 12px;
    font-weight: bold;
}

.recipe-container {
    line-height: 0;
}

.recipe-image {
    width: 100%; 
    height: 100%; 
    border-radius: 5px;
    display: block; 
    margin: 0;
}

/* .card-panel {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 0px;
    margin: 2rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
} */

.card {
    position: relative;
    margin: 2rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 5px;
}

.card.small {
    height: 200px;
}

.register-help {
    font-size: 12px;
    color: rgb(155, 148, 148);
}


.home-image {
    background: url(/static/image/cooking4.jpg); /* image from piaxabay */
    height: 50vh;
    width: 100%; 
    opacity: 0.7;
    margin-top: 0.5px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-color: rgba(0,0,0,10); */
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.home-info .col {
    width: 80%;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    left: auto;
    right: auto;
}

/* footer social links */
.social-links a {
    padding: 3px;
}

.footer-copyright {
    font-size: 12px;
}

/* homepage hero image */

.home-image h1 {
    font-family: 'Pacifico', cursive; 
    color: teal;
}

.home-image p {
    color: black; 
    font-size: 20px; 
    font-weight: bold;
}

.section-noresults {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.section-userrecipes {
    padding-bottom: 18rem;
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: rgb(180, 228, 228);
    margin-bottom: 5px;
    margin-right: 5px;
}