{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <!-- <div class="card-panel"> -->
                <h4 class="center-align page-header">
                    {{ username }}'s Profile
                </h4>
            <!-- </div> -->
        </div>
    </div>
 
    <div class="row">
        {% for recipe in recipes if session.user|lower == recipe.recipe_addedby|lower %}
        <div class="col s12 m4 recipe-container">
            <div class="card small">
                <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}">
                    <img class="recipe-image" src="{{ recipe.recipe_image }}">
                </a>
            </div>
            <p class="recipecard-title">{{ recipe.recipe_name }}</p>
            <div class="card-action">
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small">Edit</a>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small tooltipped" data-position="bottom"
                    data-tooltip="Check before deleting!">Delete</a>
            </div>
        </div>  
        {% endfor %}
    </div>
    
{% endblock %}

