{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken-4">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>

  
    
        <div class="row">
        {% for recipe in recipes if session.user|lower == recipe.recipe_addedby|lower %}
        <div class="col s12 m4">
            <div class="card small">
                <div class="card-image">
                    <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}"><img src="{{ recipe.recipe_image }}"></a>
                    <span class="card-title">{{ recipe.recipe_name }}</span>
                </div>
                <div class="card-content">
                    <p>{{ recipe.recipe_name }}</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <p><em>by: {{ recipe.recipe_addedby }}</em></p>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small">Edit</a>
                    <a href="" class="btn-small">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}

