{% extends "base.html" %}
{% block content %}


   
        <h1 class="center-align">{{ recipe.recipe_name }}</h1>
        
        <div class="row">
            <div class="col s12 m6">
                <img class="recipe-image" src="{{ recipe.recipe_image }}" alt="">
            </div>
            <div class="col s12 m6">
                {% for line in recipe.recipe_ingredients.splitlines() %}
                    <ul>{{ line }}</ul>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                {% for line in recipe.recipe_method.splitlines() %}
                    <ul>{{ line }}</ul>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ recipe.recipe_serves }}
            </div>
            <div class="col">
                {{ recipe.recipe_time }}
            </div>
            <div class="col">
                {{ recipe.recipe_vegetarian }}
            </div>
        </div>
        
        <p class="center-align">{{ recipe.recipe_addedby }}</p>
  

    
{% endblock %}